
/** ADD YOUR AWESOME CODES HERE **/

.navbar-brand img{
    max-width: 300px;
}

.navbar-brand img{
    max-width: 300px;
}

.action-row{
    display: Flex;
    display:flexbox;
    /* padding: 20px; */

}

.action-row .cont{
    /* display: Flex; */
    /* align-self:right; */
    /* padding:  20px; */
    /* background-color: red !important; */
    margin-left: 0px;
    margin-bottom: 10px;
}
.action-row .vip {
    /* display: Flex; */
    background-color: rgb(255, 160, 18) !important;
    /* color:is ( blue;) */
    /* align-self:right; */
    /* padding:  20px; */
    margin-left: 10px;
    margin-bottom: 10px;
    transition: transform;
    
}

.action-row .vip:hover{
    background-color: rgb(100, 99, 97)!important;
    transform:scale(1.1);
    transition-duration: .6s;
}


@media (max-width: 768px){

    .navbar-brand img{
        max-width: 250px;

}